
body{
    background-color: #1e1e1e;

}
header{
    grid-area: HEA;
    display: grid;
    grid-template-columns: max-content auto max-content;
}
footer{
    gap: 1vh;
    grid-area: FOO;
    display: flex;
    align-items: center;

}
button, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: #2c2c2c;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    text-decoration: none;
}
.boton2{
    background-color: transparent;
    width: 4vh;
    height: 4vh;
    border-radius: 20vh;
    background-repeat: no-repeat;
    background-size: 5vh;
    background-position: center;
}
#logo{
    width: 20vh;
    height: 6vh;
    background-image: url(src/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 1vh;
}
#contenedor{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
    "HEA HEA" max-content
    "EDI CON"auto
    "FOO FOO" max-content/
    50% auto ;
}

#contenedor2{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template:
    "HEA HEA" max-content
    "CON CON"90vh
    "CON2 CON2"max-content
    "FOO FOO" max-content/
    auto auto ;
}
#editor{
    overflow: hidden;
    text-wrap: wrap;
    font-size: 2vh;
    margin: 0;
    padding: 1vh;
    grid-area: EDI;
    background-color: #1e1e1e;
    color: white;
}
#preview{
    background-color: #383838;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

}
#contenido{
    
    grid-area: CON;
    position: relative;
}
.nivel{
    width: 30vh;
    height:  20vh;
    position: relative;
    background-color: #1e1e1e;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nivel:hover{
    background-color: #383838;
}
.nivel2{
    width: 30vh;
    height:  17vh;
    position: relative;
    background-color: rgb(0, 119, 255);
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/medalla.svg);
    background-size: 8vh;
    padding-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: 13vh 12vh;
}
.nivel2:hover{
    background-color: rgb(19, 97, 187);
}
#bg {
    opacity: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: 1;   
          
  }
  .filtro{
    z-index: 2;
    pointer-events: none;
    backdrop-filter: blur(0.2vh);

    width:  100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1e1e1e;
    mix-blend-mode: color;       
  }
#contenido2{
    background-color: transparent;
    gap: 3vh;
    z-index: 3;
    grid-area: CON;
    display: grid;
    grid-template:
    ". . ."auto
    "LOG LOG LOG" 8vh
    ". BOT ."max-content
    ". . ."auto/
    auto max-content auto ;
}
#contenido3{
    background-color: transparent;
    gap: 3vh;
    z-index: 3;
    grid-area: CON2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
@keyframes denegado {
    0%{
        outline: 0vh solid transparent;
    outline-offset: -0vh;
    }
    50%{
        outline: 1vh solid red;
    outline-offset: -1vh;
    }
    100%{
        outline: 0vh solid transparent;
    outline-offset: -0vh;
    }
}
@media (max-width: 100vh) {
    #contenedor{
        min-height: 100%;
        grid-template:
        "HEA " max-content
        "CON "40vh
        "EDI "max-content 
        "." auto
        "FOO " max-content/
        auto ;
    }
}