recursos/sincomprimir
a.html
index copy.html
styles2.css
build.gradle
gradle.properties
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
node_modules
server.js
package.json
store_icon.png
app-release-signed.apk.idsig
app-release-bundle.aab
gradle
build
app
.gradle
android.keystore