@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: white; }  
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: white; }
input::-moz-placeholder, textarea::-moz-placeholder { color: white; } 
input, textarea, option, select{
    outline: none;
    border-radius: 1vh;
    padding: 0;
    margin: 0;
    resize: none;
    border: none;
    background-color: #15276d;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    grid-area: MIN;
    display: flex;
    justify-content: baseline;
    color: white;
}
button, a{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.botonegro{
    z-index: 3;
    background-color: #15276d;
    border: none;
    grid-area: BOT;
    width: max-content;
    padding: 1vh;
    height: max-content;
    font-family: "Chillax";
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(100%) brightness(1000%);
}
  * {
    scrollbar-color: #5a5a5a #1a1a1a;
  }
   select,option{
    outline: none;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    resize: none;
    justify-content: baseline;
    color: white;
}
p, ul, li{
    font-size: 3vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
p{
    grid-area: TXT;

}
ul{
    padding-left: 5vh;
    grid-area: LI;

}
h1 {
    font-size: 10vh;
   
    grid-area: TIT;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Bagel Fat One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

option{
    background-color: #15276d;
}
  #rayas{
    display: none;
}
    #sidebar{
    display: none;
    }
    #sidebar .link{
        width: 100%;
    }
    .header{

        z-index: 100;
        display: grid;
        position: fixed;
        width: 100%;
        height: 5vh;
        left: 0%;
        top: 0%;
   
        padding: 2vh;
      
        grid-template:
        "LOGO . LINK" auto/
        12vh auto auto ;
    }
    .logo{
        grid-area: LOGO;
        background-image: url(recursos/SVG/icono2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
       
    }
    .link{
        background-color: transparent;
        border: none;
        text-decoration: none;
        margin: 0;
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 2vh;
        display: flex;
        justify-content: baseline;
        color: white;
    }
    .links{

        padding-right: 5vh;
        grid-area: LINK;
        display: flex;
        flex-wrap: wrap;
        gap: 5vh;
        justify-content: right;
        align-items: center;
    }
    .capa1{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.603);
        position: absolute;
        -webkit-backdrop-filter: blur(0.3vh);
        backdrop-filter: blur(0.3vh);
        top: 0vh;
        right: 0vh;
        width: 100%;
        height: 100%;
    }
    
    .capa2{
        background: radial-gradient(circle, #2443b8, #2443b8);
        /* background-color: #2443b8;  */
        position: absolute;
        border-radius: 50%;
        top: -20vh;
        right: -50vh;
        width: 150vh;
        height: 150vh;
        mix-blend-mode: lighten; 
        
    }
    .capa4{
        background: radial-gradient(circle, #2443b8, #2443b8);
        /* background-color: #2443b8;  */
        position: absolute;
        border-radius: 50%;
        top: -20vh;
        left: -50vh;
        width: 150vh;
        height: 150vh;
        mix-blend-mode: lighten; 
        
    }
    .listaproyectos{
        gap:5vh;
        grid-area: SERV;
        display: flex;
        position: relative;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;
        padding-top: 1vh;
    }
    #video1{
        grid-area: VID1;
    }
    .proyecto{
        border-radius: 2vh;
        position: relative;
        border: none;
        overflow: hidden;
        cursor: default;
        transition: background-size 0.3s ease;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        width: 90vh;
        height: 45vh;
        grid-template: 
        "TIT2" max-content
        "TXT" auto
        "BOT"max-content/
        auto ;
    
    }
    .proyectoiframe{
        pointer-events: none;
        border: none;
        width: 30vh;
        height: 50vh;
        z-index: 0;
    }
    
    .proyecto h1{
        grid-area: TIT2;
        padding: 1vh;
        z-index: 2;
        opacity: 0%;
        transition: opacity 0.2s ease-in-out;
    }
    .blur{
        border-radius: 2vh;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
        z-index: 1;
    
    }
    .botonegro{
        z-index: 3;
    
        background-color: #1a1a1a;
        grid-area: BOT;
        padding: 1vh;
        text-align: center;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
        font-size: 2vh;
        display: flex;
        justify-content: baseline;
        color: white;
    }
    .proyecto:hover .blur{
        background-color: rgba(0, 0, 0, 0.705);
        backdrop-filter: blur(0.5vh);
        -webkit-backdrop-filter: blur(0.5vh);
    }
    .proyecto:hover p{
        opacity: 100%;
    }
    .proyecto:hover h1{
        opacity: 100%;
    }
    .proyecto p{
        z-index: 2;
        padding: 1vh;
        opacity: 0%;
        transition: opacity 0.2s ease-in-out;
    
    }
    .circulo{
        -webkit-backdrop-filter: blur(0.5vh);
        backdrop-filter: blur(0.5vh);
        z-index: -1;
        background: radial-gradient(circle, #2443b8, #2443b8);
        position: absolute;
        border-radius: 100% 100% 0%  0%;
        bottom: 0%;
        left: -10%;
        width: 120%;
        height: 85%;
        mix-blend-mode: lighten; 
    }
    .capa3{
        animation: show 0.6s ease-out forwards;

        position: absolute;
        border-radius: 50%;
        background-image: url(recursos/SVG/logo2_2.svg);
        background-position: 20vh;
        background-repeat: no-repeat;
        background-size: 70vh; 
        top: -20vh;
        right: -50vh;
        width: 150vh;
        height: 150vh;
    }
    
    body{
        background-color: #2443b8;

    }
    .contendor{
        overflow: hidden;

        width: 100%;
        height: max-content;
        top: 0%;
        left: 0%;
        position: absolute;
        display: grid;
        grid-template:
        "CON"auto
        "VID1" 56vw
        "INFO"max-content
      
        "PRO"auto
        "CON2" max-content
        "AGUA"5vh
        /
        
        100vw;
    }
    #links .link:hover{
        transform: scale(1.1);
    }
    button, a{
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    .contenido{
        border-radius: 0vh 0vh 0vh 20vh;

        height: 100vh;
        width: 100%;
        overflow: hidden;
        grid-area: CON;
        position: relative;
    }
    #contacto{
        position: relative;
        padding-top: 8vh;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     
        grid-area: CON2;
        display: grid;
        grid-template: 
        ". .  ."auto
        ". MIN  ." max-content
        ". TIT  ." max-content
        ". FORM  . " max-content
        ". BOT  . " auto 
        ". . .  " auto /
        auto 80vh auto ;
    }
    .inputs{
     grid-area: FORM;
     position: relative;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
    }
    .inputs input,.inputs  select,.inputs  option{
        margin-bottom: 1vh;
        width: 100%;
        padding: 1vh;
        height: auto;
    }
    
    .inputs  textarea{
        margin-bottom: 1vh;
        padding: 1vh;
        width: 100%;
        height: 30vh;
    }  
    .grecaptcha-badge{
        transform: scale(0%);
        display: none;
    }
    #marcas{
        overflow: hidden;
        max-height: 25vh;
        min-height: 25vh;
        background-color: black;
        position: relative;
        grid-area: MAR;
        min-height: 20vh;
       
        padding-left: 5vh;
    }
    #footer{
        background-size: cover;
        background-position: 50% 20vh;

        grid-area: FOO;
        display: grid;
        padding: 2vh;
        gap: 2vh;
        grid-template: 
        "LOGO ." auto
        "INFO INFO" auto/
        max-content auto;
        
    }
    #marcadeagua{
        font-size: 2vh;
        min-height: 5vh;
        grid-area: AGUA;
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        background-color: #15276d;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .proyectos{
        border-radius: 0vh 20vh  0vh 0vh ;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        grid-area: PRO;
        position: relative;
        display: grid;
        grid-template: 
        ". .  ."15vh
        ". TIT  ."max-content
        "SERV  SERV SERV"max-content
        ". .  ." auto/
        2%  auto 2%;
    }
    .informacion{
        border-radius: 20vh 0vh 20vh  0vh;
        min-height: 100vh;
        overflow: hidden;
        grid-area: INFO;
        position: relative;
        display: grid;
        grid-template: 
        ". . ."25vh
        ". TIT  ."max-content
        ". TXT  ."max-content
        ". . ."auto
        "LEN LEN  LEN"max-content
        ". . ."auto/
        auto 60% auto;
    }
    .informacion p{
        border: white 0.05vh solid;
        padding: 2vh;
        border-radius: 2vh;
    }
    .subtitulo{
        grid-area: TIT2;
        font-size: 5vh;
    }
    .lenguajes{
        grid-area: LEN;
        overflow: hidden;
        max-height: 10vh;
        min-height: 10vh;
        position: relative;    
        padding-left: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #nosotros{
        opacity: 0%;
        pointer-events: none;
    }
    video{
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover; /* Asegura que el video cubra toda la pantalla */
        z-index: -1; /* Lo envía al fondo */
    
    }

    .hidden{
         mix-blend-mode: lighten;
     
        -webkit-backdrop-filter: blur(5vh);
        backdrop-filter: blur(5vh);
    }
    .visible{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.397), transparent); ;
    
    }
    .lenguaje{
        background-position: center;

        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -30vh;
         min-width: 30vh;
         height: 100%;
     }
    @keyframes animarca {
        0%{
            left: -30vh;
        }
        100%{
            left: 250vh;
        }
    }
@keyframes show {
    from {
        opacity: 0%;
        transform: translateY(5vh);
    }
    to {
        opacity: 100%;

        transform:  translateY(0);
    }
}
.titulo{
    text-align: center;
}
.titulo, .texto{
    opacity: 0;
}
.aparece {
    animation: show 0.6s ease-out forwards;
}
@media (max-width: 100vh) {
    .proyecto{
        width: 100vw;
        border-radius: 0;
        background-size: contain;
    }
    .blur{
        border-radius: 0;
    }
    .proyectos{
        border-radius: 0vh 0vh 0vh 0vh;
        grid-template: 
        ". . . ."15vh
        ". TIT TIT ."max-content
        "SERV SERV SERV SERV"max-content
        ". . . ." auto/
        2% auto auto 2%;
    }
    .proyectos h1{
        align-items: center;
    }
    .informacion{
        border-radius: 0vh 0vh 0vh 0vh;
        min-height: 100vh;
        overflow: hidden;
        grid-area: INFO;
        position: relative;
        display: grid;
        grid-template: 
        ". . ."35vh
        ". TIT  ."max-content
        ". . ."3vh
        ". TXT  ."max-content
        ". . ."auto
        "LEN LEN  LEN"max-content
        ". . ."auto/
        auto 95% auto;
    }
    .contenido{
        border-radius: 0vh 0vh 0vh 0vh;

    }
    .circulo{
        
        background: radial-gradient(circle, #2443b8, #2443b8); 
        position: absolute;
        border-radius:  25vh 25vh 0%  0% ;
        bottom: 0%;
        left:  0%;
        width: 100%;
        height: 80%;
        mix-blend-mode: lighten; 
    }
    p{
        font-size: 2.5vh;
    }
    h1 {
        text-align: center;
        font-size: 6vh;
    }
    .capa2{
        -webkit-backdrop-filter: blur(0.5vh);
        backdrop-filter: blur(0.5vh);
        background-color: 2443b8;
        border-radius: 100vh 0%  0% 100vh;
        position: absolute;
        top: 0%;
        left: auto;
        right: 0%;
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten; /* Mezcla para aclarar */
    }
    .capa4{
        -webkit-backdrop-filter: blur(0.5vh);
        backdrop-filter: blur(0.5vh);
        background-color: 2443b8;
        border-radius: 0vh 100vh  100vh 0vh;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        mix-blend-mode: lighten; /* Mezcla para aclarar */
    }
    .capa3{
        position: absolute;
        border-radius: 0;
        background-image: url(recursos/SVG/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80vw; 
        top: 20%;
        left: auto;
        right: 0%;
        width: 100%;
        height: 60%;
    }
    
    #links .link{
        display: none;
    }
    #sidebar .link{
        padding: 2vh;
        width: 100%;
    }
    #sidebar{
    background-color: #2444b89f;

        transition: transform 0.5s ease-in-out;
        z-index: 99;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0%;
        top: 0%;
        display: grid;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        /* background-color: black; */
    -webkit-backdrop-filter: blur(5vh);
    backdrop-filter: blur(5vh);
        grid-template:
        ". " 10vh
        " LINK "30vh
        " . "auto/
         auto  ;
        transform: translateX(110%);
    }
    #rayas{
        background-color: transparent;
        border: none;
        display: grid;
        margin: 0;
        font-family: "Chillax";
        font-weight: 500;
        font-size: 4vh;
        grid-area: MIN;
        display: flex;
        justify-content: baseline;
        color: white;
    }
}
