@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.container{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0%;
    top: 0%;
    display: grid;
    grid-template:
    "HEA HEA HEA"8vh
    ". CON ."auto/
    2% auto 2% ;
}
.container2{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0%;
    top: 0%;
    display: grid;
    grid-template:
    "HEA HEA HEA"30vh
    ". CON ."auto/
    2% auto 2% ;
}
.fondovideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
    filter: blur(0.5vh);
  }
.header2{
    background-color: transparent;
    justify-content: center;
    background-image: url(src/SVG/logo.svg);
    background-repeat: no-repeat;
    background-size:25vh;
    background-position: center;
    position: relative;
}
body{
    background-color: black;
}
.miniheader{
    position: sticky; top: 8vh; z-index: 8; background-color: black;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.miniheader2{
    position: sticky; 
    top: 8vh; 
    z-index: 8; 
    background-color: black;
    height: max-content;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    gap: 1vh;
}
.divisor{
    display: grid;
    gap: 3%;
    grid-template-columns: 48.5% 48.5%;
}
.divisor2{
    display: grid;
    gap: 3%;
    grid-template-columns: 48.5% 48.5%;
}
input{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
    border: rgb(95, 95, 95) solid 0.2vh;
    background-color: #2e2e2e;
    color: white;
}
h1{
font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 4vh;
  font-style: normal;
  color: white;
  padding: 0;
  margin: 0;
}
p, .diasem, .calendario{
font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2vh;
  font-style: normal;
  color: white;
  padding: 0;
  margin: 0;
}

.semana {
display: grid;
grid-template-columns: repeat(7, 1fr);
text-align: center;
margin-bottom: 1vh;
font-weight: bold;
color: #fff;
}
.ventana{
    margin-top: 2vh;
    background-color: #1a1a1a;
    padding: 2vh;
    border-radius: 1vh;
}
.diasem {
padding: 1vw;

}
.calendarioHeader { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px; 
    gap: 10px; 
}
#mesAnio { 
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    font-size: 2.5vh;
}
.grande{
    font-size: 5vh;
    display: flex;
    padding-left: 2vh;
}
#rachaDias{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/SVG/fuego0.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 5vh;
    font-size: 5vh;
}
.calendario {
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 1vw;
margin-top: 1vh;
}

.calendario .dia {
padding: 1vw;
background: #333;
color: #fff;
text-align: center;
border-radius: 1vh;
}

.calendario .dia.hoy {
background: #2196f3;
font-weight: bold;
}

.calendario .dia.entrenado {
background: #4caf50;
}



label{
font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2vh;
    font-style: normal;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
li, ul{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2vh;
  font-style: normal;
  color: black;
  padding: 0;
  margin: 0;

}
#historialList li, #historialList ul, #modalEjercicios li{
  color: white;
}

.ejericios2{
    margin-bottom: 1vh;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 2vh;
    border: none;
    background-color: black;
    border-bottom: #2e2e2e 0.4vh solid;
    cursor: pointer;
    display: grid;
    gap: 2vh;
    grid-template-columns: max-content auto max-content;
}


.ejericios2 p{
    text-wrap: wrap;
    color: white;
    font-size: 2vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;      
    overflow: hidden;     
    text-overflow: ellipsis;
}

.imagenejercicio{
    background-color: white;
    width: 7vh;
    height: 7vh;
    border-radius: 20vh;
    background-image: url(src/SVG/abdomen0.svg);
    background-position: center;
    background-repeat: no-repeat;
}
h2, summary{
font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3.5vh;
  font-style: normal;
  color: white;
  padding: 0;
  margin: 0;
}
h3,span{
font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3vh;
  font-style: normal;
  color: white;
  padding: 0;
  margin: 0;
}

section, .section{
    grid-area: CON;
    display: grid;
    grid-auto-rows: max-content;
    gap: 2vh;
    padding-top: 5vh;
}
header{
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    z-index: 20;

    grid-area: HEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
nav{
    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 5vh;
}
.opcion, #butsidebar, .opcion2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
}
.boton, select{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    background-color: #1f6bff;
    color: white;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
}
.historial{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2vh;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    background-color: #1a1a1a;
    color: white;
    font-size: 2vh;
    text-decoration: none;
}
#filtrosMusculocon{
    display: grid;
    overflow-x: auto;
    gap: 1vh;
    max-width: 96vw;
    grid-template-rows: max-content max-content;
}
#filtrosMusculocon{
    display: flex;
    gap: 1vh;
}
#sugerencias{
    height: 20vh;
    display: grid;
    grid-auto-rows: max-content ;
    gap: 1vh;
    max-height: 20vh;
    overflow-y: auto;
}
#rachaDias, #historialList{
    color: white;
}
.boton2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
}

.filtroMusculo{
    margin-bottom: 2vh;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    border-radius: 1vh;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
    display: grid;
    width: 15vh;
    min-height: 15vh;
}
.seleccionado{
    background-color: #1f6bff;
}
.filtroMusculo p{

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtroMusculo div{
    background-position: center -3vh;
    background-repeat: no-repeat;
    background-size: 12vh;
    height: 10vh;
}
.check{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border: none;
    border-radius: 1vh;
    border: #1f6bff solid 0.1vh;
    background-color: white;
    color: white;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
}
#rutinasList2{
    position: relative;
    height: max-content;
    display: grid;
    grid-auto-columns: max-content;
}
.rutina{
    position: relative;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 1vh;
    grid-template-rows: max-content auto max-content;
    display: grid;
    height: 20vh;
    background-color: #1a1a1a;
}

.ejercicio{
    
    position: relative;
    margin-bottom: 2vh;
    border-radius: 1vh;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-columns: 100%;
    display: grid;
    width: 90%;
    height: max-content;
    padding: 5%;
    background-color: #1a1a1a;
}
.ejercicio input{
    background-color: #2e2e2e;
    color: white;
}
.series-list {
    display: grid;
    gap: 1vh;
    grid-auto-rows: max-content;
    overflow-x: auto; /* scroll horizontal si se desborda */
    padding: 0;
    margin: 1vh 0;
}

.serie2 {
    margin-top: 1vh;
    display: grid;
    gap: 2%;
    grid-template-columns: auto  40% 40% auto;  /* ajusté para que entren bien */
    align-items: center;
    border-bottom: white solid 0.2vh;
    height: 4vh;

}
/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.serie {
    display: grid;
    gap: 2%;
    grid-template-columns: max-content  auto auto max-content; /* ajusté para que entren bien */
    align-items: center;
}

.serie input {
    width: 100%; /* que el input llene su columna */
    box-sizing: border-box;
}

.ejercicio {
    max-width: 90%;
    overflow-x: hidden;
}

#modalEjercicios{
    display: none;
    padding-top: 2vh;
    grid-area: CON; 
    z-index: 8; 
    background-color: black;
    grid-auto-rows: max-content;
}
.ejericios p{
color: #1a1a1a;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.config{
position: relative;
}
.opciones{
    width: max-content;
    height: max-content;
    position: absolute;
    padding: 2vh;
    right: 0vh;
    top: 5vh;
    background-color: black;
    border-radius: 1vh;
    gap: 2vh;
}
#sidebar{
    padding: 10%;

    padding-top: 20vh;
    transition: left 0.5s ease-in-out;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    -webkit-backdrop-filter: blur(0.5vh);
    backdrop-filter: blur(0.5vh);
    display: none;
    grid-auto-rows:5vh ;
    gap: 4vh;

}
#butsidebar {
    display: none;
    font-size: 3vh;
}
#sidebar .opcion{
    width: 80%;
}

.historialEjercicio {
    margin-bottom: 1vh;
    background-color: #1a1a1a;
    padding: 2vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


/* Medalla dentro de la serie */
.historialEjercicio p span.medalla {
    font-size: 2vh;
    margin-left: 1vh;
}

#descansoTexto{color:white;;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
    .series-list .serie{display:flex;align-items:center;margin-bottom:1vh;gap:1vh;}
    .series-list .serie.completed {
        opacity: 0.5;
    }
    .series-list .serie .check.completed {
        background-color: #28a745 !important;
        color: white;
    }
    .progress-container {
        background-color: rgb(107, 107, 107);
        height: 4vh;
        border-radius: 1vh;
        margin: 1vh 0;
        width: 100%;
        position: relative;
    }
    .progress-bar {
        height: 100%;
        background: #28a745;
        width: 0%;
        border-radius: 10px;
        text-align: center;
        color: white;
        line-height: 20px;
    }
#sidebar .opcion{
background-color: #1f6bff;
}
@media (max-width:100vh) {
    nav .opcion{
        display: none;
        padding: 0;
    }
   
    #butsidebar {
        display: block;
    }
    #sidebar{
        display: grid;

    }
}