@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#crear{
    background-image: url(src/svg/add.svg);
}
#explorar{
  background-image: url(src/svg/search.svg);
  background-size: 4vh;
  background-position: 2vh;
}
.botones{
  gap: 1vh;
  padding: 2vh;
  position: relative;
  max-width: 48vh;
  width: 90%;
  height:8vh;
  background-color: rgb(29, 29, 29);
  box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.39) ;
  border-radius: 1vh;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
}
button, a{
  transition: transform 0.2s;
  background-color: rgb(30, 154, 255);
  border: none;
  border-radius: 25vh;
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonsolo{
    width: 90%;
    height: 5vh;
}
.boton2{
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
  
    transition: transform 0.2s;
    
    border-radius: 25vh;
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.2vh;
    text-decoration: none;
    cursor: pointer;
    height: 8vh;
    padding: 0 2.5vh;
    border: white 0.5vh solid;
    background-repeat: no-repeat;
    background-position: 1.5vh center;
    background-size: 5vh;
    padding-left: 6vh; 
    box-sizing: border-box;
  }
.configuracion{
  background-image: url(src/svg/settings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-area: con;
  height: 100%;
  background-color: transparent;
}
.persona{
  background-image: url(src/svg/person.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  background-color: transparent;
}
.pesa{
  background-image: url(src/svg/exercise.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  background-color: transparent;
}
.home{
  background-image: url(src/svg/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  background-color: transparent;
}
.boton{
  height: 100%;
  grid-area: bot;

}
h1{
    color: white;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
}
h2{
    color: white;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
}
p{
    color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2vh;
  font-variation-settings:
    "wdth" 100;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.texto{
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;    
  color: white;
  grid-area: txt;
}
.titulo{
  padding-left: 3vh;
  margin: 0;
  width: 100%;
  height: max-content;
  color: white;
}
.subtitulo{
  margin: 0;
  padding: 0;
  color: white;
  grid-area: sub;

}

.rutina{
  gap: 1vh;
  padding: 2vh;
  position: relative;
max-width: 48vh;
  width: 90%;
  height: 18vh;
  background-color: rgb(29, 29, 29);
  box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.39) ;
  border-radius: 1vh;
  display: grid;
  align-items: center;
  grid-template:
  "sub sub con"4vh
  "txt txt txt" 7vh
  "bot bot bot" 5vh/
  auto auto 4vh;
  

}
.ejercicio{
    gap: 1vh;
    padding: 2vh;
    position: relative;
  max-width: 48vh;
    width: 90%;
    height: max-content;
    background-color: rgb(29, 29, 29);
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.39) ;
    border-radius: 1vh;
    display: grid;
    align-items: center;
    grid-template:
    "sub sub con"4vh
    "ser ser ser" max-content
    "bot bot bot" 5vh/
    auto auto 4vh;
    
  
  }
  .series{


    grid-area: ser;
    display: grid;
    justify-content: center;
  }
  .serie{
    gap: 1vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,10vh);
  }
  .serie p{
    height: 3vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 0.2vh;
  }
.lista{
  gap: 2vh;
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
}
section{
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: rgb(12, 12, 12);
  width: 100%;
  height: max-content;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: grid;
  justify-content: center;
}
header{
  background-color: rgb(29, 29, 29);
  box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.39) ;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  height:6.5vh;
  z-index: 10;
  display: grid;
  padding-top: 1.5vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: 5vh;
  gap: 10%;
}
header button{
    border-radius: 0%;
}
footer{
  display: none;
  background-color: rgb(29, 29, 29);
  box-shadow: -1vh -1vh 2vh rgba(0, 0, 0, 0.39) ;
  position: fixed;
  width: 100%;
  bottom: 0%;
  left: 0%;
  height:7vh;
  z-index: 10;
    justify-content: center;
    align-items: center;

}
button:hover, a:hover{
  transform: scale(1.05);
  
}
.titulo2{
    padding-left: 3vh;
    margin: 0;
    width: 90%;
    height: max-content;
    color: white;
}
input{

    background-color: transparent;
    border: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
}