
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  * {
    scrollbar-color: #5a5a5a #1a1a1a;
  }
 


body{
    background-color: white;
}
p,a{
    grid-area: TXT;
    font-size: 2.5vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 300;

    color:#ed7375;
}
a {
    font-size: 2vh;
    font-weight: 700;
   
    color: rgb(255, 255, 255);

}
h1 {
    grid-area: TIT;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 6vh;
    color: #ed7375;
    
}
.titulo{
    text-align: center;
    text-decoration: underline;
}
.subtitulo{
    font-size: 4vh;
}
.minititulo{
    
    pointer-events: none;
    font-size: 3vh;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: white; }  
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: white; }
input::-moz-placeholder, textarea::-moz-placeholder { color: white; } 
input, textarea, option, select{
    outline: none;
    padding: 0;
    margin: 0;
    resize: none;
    border: none;
    background-color: #ed7375;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    grid-area: MIN;
    display: flex;
    justify-content: baseline;
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(100%) brightness(1000%);
 
}

input[type="search"] {

    background-color: #e7e7e7;
    color: rgb(15, 15, 15);
}
#buscar::-ms-input-placeholder {

    color: rgb(15, 15, 15);
}
#buscar::-webkit-input-placeholder {

    color: rgb(15, 15, 15);
}
 #buscar::-moz-placeholder {

    color: rgb(15, 15, 15);
}
#sidebar .link{
    border: 0.1vh white solid;
    padding: 2vh;
    width: 100%;
}
#nosotros{
    display: none;
}
#sidebar{
background-color: rgba(0, 0, 0, 0.308);
overflow-y: auto;

    transition: transform 0.5s ease-in-out;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: grid;
    /* background-color: black; */
-webkit-backdrop-filter: blur(5vh);
backdrop-filter: blur(5vh);
    grid-template:
    ". . ." 15vh
    ". TIT ."max-content
    ". BOT ."max-content
    ". . ." 1vh
    ". LINK ."max-content
    ". . ." 10vh/
     auto 80% auto  ;
    transform: translateX(110%);
}
#sidebar .botonegro{
    width: auto;
    height: auto;
}
.links{
    padding-right: 5vh;
    grid-area: LINK;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: right;
    align-items: center;
}
.links2{
    overflow: hidden;
    grid-area: LINK;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
    align-items: center;
}
.logo{
    grid-area: LOGO;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 8vh;
}
#nosotros{
    opacity: 0%;
    pointer-events: none;
}
.link{
    background-image: url(src/SVG/carrito.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin: 0;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    animation: aparecer3 2s both;
    color: white;
    min-width: 5vh;
    min-height: 4vh;
}
.pedido{
background-color: white;
gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    text-decoration: none;
    margin: 0;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    animation: aparecer3 2s both;
    min-width: 5vh;
    min-height: 4vh;
   display: grid;
   grid-template:
   ". . . . . ."auto
   ". FOTO . . . ."2vh
   ". FOTO . TIT TIT ."max-content
   ". FOTO . OP OP2 ."max-content
   ". FOTO . TXT BOT ."5vh
   ". FOTO . . . ."2vh
   ". . . . . ."auto/
   auto 15vh 2vh 20vh max-content auto;
}
.pedido .opcionp{
    font-size: 2.5vh;
    grid-area: OP
}
.pedido .opcionp2{
    font-size: 2.5vh;
    grid-area: OP2
}
.pedido h1{
font-size: 4vh;
}
#rayas{
    position: relative;
    /*animation: mover 2s infinite cubic-bezier(1, 0, 0, 1) */

   }

   @keyframes mover {
    
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(1.1);
    } 
    100%{
        transform:scale(1);
    } 
   }
.imagenp2{
    box-shadow: #1a1a1a 0vh 0vh 2vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.5vh;
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 25vh;
    width: 5vh;
    height:  5vh;
    animation: carrito 2s both;
}
  
#circulorojo{
    box-shadow: RED 0vh 0vh 2vh;
    font-family: "Comfortaa", serif;
    font-size: 2vh;
position: absolute;
right: 0%;
top: 0%;
border-radius: 25vh;
width: 2.2vh;
height: 2.2vh;
background-color: RED;
color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
opacity: 0%;
animation-play-state: paused;
}


details {
    position: relative;
    cursor: pointer;
  }
  
  details[open] {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
 
  
  .checkboxes {
    background-color: #ed7375;
    position: absolute;
    left: 0%;
    top: 100%;
    height: max-content;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .checkboxes label {
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
    font-size: 2vh;
    padding: 1vh;

  }
  
@keyframes carrito{
    0%{
        transform: translateY(20vh) translateX(-20vh) scale(5);
        opacity: 0%;
    }
    80%{
        transform: translateY(0vh) translateX(0vh)  scale(1);
        opacity: 80%;
    }
    100%{
        transform: translateY(0vh) translateX(0vh) scale(0);
        opacity: 0%;
    }
}
@keyframes titilar {
    0%{
        transform: scale(1);
        opacity: 0%;
    }
    50%{
        transform: scale(1.1);
        opacity: 100%;
    }
    100%{
        transform: scale(1);
        opacity: 0%;
    }
}

.pedido p{
    font-size: 3vh;
    font-weight: 700;
    }
.pedido p, .pedido h1{
    text-align: center;
    display: flex;
    align-items: center;
}
.imagenp{
    grid-area: FOTO;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(src/PRODUCTOS/prod1.png);
}
 .indicadores { 
    z-index: 3;
    display: flex; 
    justify-content: center; 
    width: max-content;
    height: max-content;
    padding: 3vh;
    grid-area: IND; 
    gap: 2vh;
}
.indicador { 
    width: 1.5vh; 
    height: 1.5vh; 
    background-color: rgba(255, 255, 255, 0.356); 
    border-radius: 20vh; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.activo { 
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.781); 
}
button, a{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
#links .link{
    transition:  opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

}
 #links .link:hover{
    transform: scale(1.1);
}
.imagen{
    filter: blur(0.2vh);
    pointer-events: none;
    position: absolute;
    background-image: url(src/PNG/img1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0%;
}

.filtro {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:  rgba(0, 0, 0, 0.2);

}
.filtro2 {
    z-index: 0.5;
    pointer-events: none;
    backdrop-filter: blur(0.2vh);

    width:  100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ed7375;
    mix-blend-mode: multiply;
}
.links2 .barra{
width: 100vw;
height: 1vh;
}
.textos {
    gap: 1vh;
    background-color: transparent;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template: 
    ". . ."auto
    ". TIT ."max-content
    ". BOT ."max-content
    ". . ."25vh/
    auto 80% auto;
}
.texto{
    font-size: 3vh;
}
.filtro4{
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(5vh);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    z-index: -1;
}
.textos p {
    display: none;
    position: relative;
    font-size: 3vh;
    margin: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0%;
    transform: translateY(5vh);
   
}
.textos .filtro2 {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0%;
    transform: translateX(-50vh);
   
}
.textos h1{
    color: white;
    font-size: 6vh;
    margin: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0%;
    transform: translateY(5vh);
}

    
.boton-control{

    mix-blend-mode: difference;
    width: 10vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 5vh;
}
.controles {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template:
    ". . . . ." auto
    "BIZ . . . BDE" max-content
    ". . . . ." auto
    ". . IND . ."max-content/
    max-content auto max-content auto max-content;
}
#botonizquierdo{
    grid-area: BIZ;
}
#botonderecho{
    grid-area: BDE;
}
.imagenes{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}
#main{
 
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 0%;
    top: 0%;
    display: grid;
    grid-template:
    "CAR  " max-content
    "MEN  " max-content
 
    "FOO  " max-content
    "AGUA  " max-content/
    auto  ;
}

#footer{
    min-height: 50vh;
}
#header{
    transition: all 0.5s ease-in-out;
    transition-property: width, height;
    transition-duration: 0s;
    z-index: 100;
    width: 100%;
    height: 9vh;
    position: fixed;
    left: 0%;
    top: 0%;
    display: grid;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-template:
    "LOGO . LINK" auto/
    15vh auto auto ;
}
.hidden{
    background-color: rgba(0, 0, 0, 0.308);
    
    -webkit-backdrop-filter: blur(5vh);
    backdrop-filter: blur(5vh);
}
.visible{
    background-color: transparent;

}
.logo{
grid-area: LOGO;
background-image: url();
}
#carrusel{
    min-height: 95vh;
    overflow: hidden;
    max-height: 90vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    grid-area: CAR;
}
.whats{
    transition: transform 0.1s ease-in-out;

    width: 10vh;
    height: 10vh;
    background-color: #25D366;
    border-radius: 50vh;
    background-position: center;
    background-size: 6vh;
    background-repeat: no-repeat;
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    z-index: 100;
}
.whats:hover{
    transform: scale(1.1);
    
}
.fondonegro{
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#servicios{
    padding-top: 10vh;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-size: 220vh;
    background-position: center;
    grid-area: SER;
    display: grid;
    grid-template: 
    ". . ."2vh
    

    ". MIN ." max-content
    ". TIT ." max-content
    "SERV SERV SERV" max-content
    ". BOT . " auto 
    ". . . " auto /
    auto 80vw  auto ;
}

.listaservicios{
    gap: 3vh;
    grid-area: SERV2;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 1vh;
}

.listaproductos{
    gap: 3vh;
    grid-area: SERV;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 1vh;
}
.servicio:hover{
    cursor: pointer;
}
.servicio{
    border-radius: 2vh;
    overflow: hidden;
    position: relative;
    border: none;
    background-size: 80vh;
    cursor: default;
    transition: background-size 0.3s ease;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    width: 50vh;
    height: 30vh;
    
    font-size: 5vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    color: white;


}
.opciones{
    
    display: none;
    grid-template:
    ". . ."auto
    ". BOT2 ."max-content
    ". CON ."max-content
    ". . ."auto/
    auto max-content auto ;
    backdrop-filter: blur(1vh);
    width:  100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.opciones .contenedor{
    grid-area: CON;
    background-color: white;
    display: grid;
    grid-template:
    ". . ."auto
    ". CON ."max-content
    ". . ."5vh/
    auto max-content auto ;
}
#vermas{
    width: 100%;
}

.producto{
    grid-area: CON;
    gap: 0.5vh;
    padding: 2vh;
    cursor: default;
    position: relative;
    display: grid;
    width: 50vh;
    height: 55vh;
   /* background-color: #e7e7e7;*/
    grid-template: 
    "IMG IMG"
    "TIT TXT" max-content
    "BOT2 BOT2"max-content
    "BOT3 BOT3"max-content
    "BOT BOT"max-content

    /
    auto max-content;

}
.imagenp3{
    position: relative;
}
#etiqueta{
    position: absolute;
    background-color: #40c06f;
    font-size: 2vh;
    color: white;
    width: max-content;
    height: max-content;
    left: 0%;
    top: 1vh;
    padding: 0.8vh;
}
#etiqueta::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.92vh; /* Podés ajustar este valor */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 2vh solid #40c06f; /* Mismo color que el fondo */
}
.categoria{
    width: 40vh;
    height: 50vh;
    background-color: #007bff;
}
/*.producto{
    grid-area: CON;
    gap: 0.5vh;
    padding: 2vh;
    cursor: default;
    position: relative;
    display: grid;
    width: 50vh;
    height: 15vh;
   
    grid-template: 

    "IMG TIT TXT" max-content
    "IMG BOT2 BOT2"max-content
    "IMG BOT3 BOT3"max-content
    "IMG BOT BOT"max-content

    /
    30% auto max-content;

}*/
.imagenp3{
    grid-area: IMG;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.producto h1{
    font-weight: 700;
    text-overflow: ellipsis;
    background-color: white;
    color:rgb(15, 15, 15);
    padding: 1vh;
    z-index: 3;
    font-family: "Comfortaa", serif;
    font-size: 2.5vh;
    pointer-events: none;
    text-align: initial;


}
.producto p{
    font-family: "Comfortaa", serif;
    text-align: end;
    font-weight: 700;
    padding: 1vh;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
    background-color: white;
    color:rgb(15, 15, 15);
    pointer-events: none;

}
.producto .botonegro{
    transition: transform 0.3s ease;

    z-index: 5;
}
.producto .botonegro:hover{
    transform: scale(1.1);
}

.botonegro{
    z-index: 3;

    background-color: #ed7375;
    border: none;
    grid-area: BOT;
    width: max-content;
    padding: 1.5vh;
    height: max-content;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    color: white;
}
.botonegro2{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #ed7375;
    border: none;
    grid-area: BOT2;
    padding: 1vh;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    justify-content: baseline;
    color: white;
}
.botonegro3{
    width: auto;
    z-index: 3;
    background-color: #ed7375;
    border: none;
    grid-area: BOT3;
    padding: 1vh;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 2vh;
    color: white;
}
.checkboxes input[type="checkbox"] {
    width: 2vh;
    height: 2vh;
    border: none;
    border-radius: 0vh;
    accent-color: #007bff;
    cursor: pointer;
    outline: none;
  }
  .checkboxes input[type="checkbox"]:focus {
    width: 2vh;
    height: 2vh;
    border: none;
    border-radius: 0vh;
    accent-color: #007bff;
    cursor: pointer;
    outline: none;
  }
  



#producto{
    padding-top: 2vh;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
    grid-area: PRO;
    display: grid;
    grid-template: 
    ". . ."auto
    ". MIN ." max-content
    ". TIT ." max-content
    ". TXT . " max-content
    ". . . " 1vh
    ". BOT . " auto 
    ". . . " auto /
    auto 70vh 5vw  ;
}
#sinResultados{
    background-position: center;
    background-size: 30vh;
    height: 42vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template: 
    "TIT TIT TIT"auto
    ". BOT2 ."max-content/
    auto max-content auto
}
#sinResultados h1{
    font-size: 5vh;

}

#producto p{
    background-color: rgba(0, 0, 0, 0.623);
backdrop-filter: blur(2vh);
    padding: 1vh;
    border: 0.05vh solid white;
}
#menu{
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 100vh;
    background-size: 250vh;
    background-position: center;
    grid-area: MEN;
    display: grid;
    grid-template: 
    ". . . ."5vh
    "SERV2 SERV2 SERV2 SERV2" max-content
    ". TIT TIT ." max-content
    ". . . ."5vh
    ". BUS BOT2." max-content
    ". BUS2 BUS2." max-content
    "SERV SERV SERV SERV " minmax(60vh, max-content)
    ". BOT BOT . " auto 
    ". . . ." auto /
    auto 75vw 10vh auto ;
}
#buscar{
    grid-area: BUS;
    padding: 1vh;
    margin-right: 2vh;
}
#marcasbuscar{
    padding: 0.5vh;
    gap: 2vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    position: relative;
    grid-area: BUS2;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#video{
    min-height: 90vh;

    background-color: black;
    grid-area: VID;
}

#contacto{
    position: relative;
    padding-top: 8vh;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    grid-area: CON;
    display: grid;
    grid-template: 
    ". .  ."auto
    ". MIN  ." max-content
    ". TIT  ." max-content
    ". FORM  . " max-content
    ". BOT  . " auto 
    ". . .  " auto /
    auto 80vh auto ;
}
.inputs{
 grid-area: FORM;
 position: relative;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
.inputs input,.inputs  select,.inputs  option{
    margin-bottom: 1vh;
    width: 100%;
    padding: 1vh;
    height: auto;
}

.inputs  textarea{
    margin-bottom: 1vh;
    padding: 1vh;
    width: 100%;
    height: 30vh;
}  
.grecaptcha-badge{
    transform: scale(0%);
    display: none;
}
#marcas{
    overflow: hidden;
    max-height: 25vh;
    min-height: 25vh;
    background-color: black;
    position: relative;
    grid-area: MAR;
    min-height: 20vh;
   
    padding-left: 5vh;
}
#footer{
    background-size: cover;
    background-position: 50% 20vh;
    grid-area: FOO;
    display: grid;
    padding: 2vh;
    gap: 2vh;
    grid-template: 
    "LOGO ." auto
    "INFO INFO" auto/
    max-content auto;
    
}
#marcadeagua{
    font-size: 2vh;
    min-height: 5vh;
    grid-area: AGUA;
    background-color: #ed7375;
    
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#marcadeagua .texto{
    color: white;
    font-size: 2vh;
}
.informacion{
    grid-area: INFO;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;

}
.cuadro {
    position: relative;
    padding-top: 5vh;
    background-color: rgba(0, 0, 0, 0.438);
    border: 0.005vh white solid;
    width: 45vh;
    min-height: 30vh;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.cuadro .minititulo{
    position: absolute;
    top: 1vh;
    left: 5%;
    width: 90%;
    height: 10vh;
}
.correo{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 7vh;
    background-position: 2vh;
    background-size: 4vh;
    background-repeat: no-repeat;
}
.cuadro a{
 color: white
}
.marca{
   background-position: center;
   background-size: 25vh;
   background-repeat: no-repeat;
   position: absolute;
   right: -30vh;
    min-width: 30vh;
    height: 100%;
}
.marca2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10vh;
    background-color: black;
    min-width: 15vh;
    height: 10vh;
    border: 0.05vh solid white;
 }
 
@keyframes animarca {
    0%{
        right: -30vh;
    }
    100%{
        right: 250vh;
    }
}

.logoyredes{
    position: relative;
    grid-area: LOGO;
    display: grid;
    width: 15vh;
    height: max-content;
    grid-template:
    "." 7vh
    "REDE " max-content/
    15vh ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.listaredes{
grid-area: REDE;
 display: flex;
 position: relative;
 flex-wrap: wrap;
 gap: 1vh;
}
.red{
    width: 3vh;
    height: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes show {
    from {
        opacity: 0%;
        transform: translateY(5vh);
    }
    to {
        opacity: 100%;

        transform:  translateY(0);
    }
}
.aparece {
    animation: show 0.6s ease-out forwards;
}
.cuadro, .servicio, .titulo, .inputs, #producto h1, #producto p, .minitexto, #servicios .titulo {
    opacity: 0;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
}

.confetti {
    width: 1vh;
    height: 2vh;
    background-color: red;
    position: absolute;
    opacity: 0;
    animation: confettiFall linear ;

}
@keyframes confettiFall {
    0% {
        opacity: 100%;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0%;
        transform: translateY(100vh) rotate(360deg);
    }
}