html{
    height: 100%;
}
body{
    overflow: hidden;
}
#inicio{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 
    "HEA HEA HEA"25vh
    "CON CON CON" auto
    "FOO FOO FOO" 20vh/  
    auto auto auto
}
.fondo1{
    background-image: url(img/fondo1.png);
    background-color: rgb(254, 240, 204);
    background-size: 10vh;
}
.fondo2{
    background-image: url(img/fondo2.png);
    background-color: rgb(246, 178, 176);
    background-size: 10vh;
}
.fondo3{
    background-image: url(img/fondo3.png);
    background-color: rgb(174, 204, 215);
    background-size: 12vh;
}
.fondo4{
    background-image: url(img/fondo4.png);
    background-color: rgb(175, 213, 170);
    background-size: 14vh;
}
.fondo6{
    background: linear-gradient(13deg,rgba(78, 78, 78, 0.7), rgba(41, 41, 41, 0.5));
    backdrop-filter: blur(4px);
    background-repeat: round;
    /*background-color: rgb(245, 220, 151);*/
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
}

#fondoactual{
    background-repeat: round;
    /*background-color: rgb(245, 220, 151);*/
    position: absolute;
    top: 0%;
    left: 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    background-attachment: fixed;
    animation: fondo 30s linear infinite ;
}
#FOO{
    grid-area: FOO; 
    position: relative;
}
#HEA{
    grid-area: HEA; 
    position: relative;
}
#tanuki{
    width: 25vh;
    height: 25vh;
    position: absolute;
    bottom: 2vh;
    right: 10vw;
    animation: caminar 2s both infinite, mover 30s linear infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tanuki2{
    width: 25vh;
    height: 25vh;
    position: absolute;
    bottom: 2vh;
    right: 10vw;
    animation: mover2 30s linear infinite;
}
#corazon{
    width: 6vh;
    height: 6vh;
    position: absolute;
    background-image: url(img/corazon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0%;
    display: none;
    animation: corazon 5s infinite;
}
#notas{
    width: 6vh;
    height: 6vh;
    position: absolute;
    background-image: url(img/notas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0%;
    display: none;
    animation: corazon 5s infinite;
}
#estrella{
    width: 5vh;
    height: 5vh;
    position: absolute;
    background-image: url(img/estrella.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0%;
    display: none;
    animation: estrella 5s infinite;
}
/*#tanuki:hover{
    background-image: url(anim/quieto.png);
    animation:mover 30s linear infinite paused;
}*/

#logo{
    bottom: 2vh;
    background-image: url(img/titulo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 50vh;
    width: 100%;
    height: 20vh;
    bottom: 0%;
    position: absolute;
    animation: logo 3s both infinite;
}
.opcion{
    display: none;
    position: absolute;
    width: 15vh;
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#obj{
    
    pointer-events: none;
    display: none;
    position:absolute ;
    width: 15vh;
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.opcion1{
    right: 23vh;
}
.opcion2{
    right: 13vh;
    bottom: 25vh;
}
.opcion3{
    right: -3vh;
    bottom: 25vh;
}
.opcion4{
    right: -14vh;
}
#CON{
    grid-area: CON;
}
@keyframes corazon {
    0%{
        right: 12vh;
        bottom: 0vh;
        opacity: 0%;
        transform: scale(0) translateY(0%) rotate(270deg);
    }
   
    16%{
        right: 12vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(0deg);
        opacity: 100%;
        
    }
    32%{
        right: 12vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(0deg);
        opacity: 0%;
        
    }
    38%{
        right: 12vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(0deg);
        opacity: 0%;
    }
    64%{
        right: 5vh;
        bottom: 0vh;
        opacity: 0%;
        transform: scale(0) translateY(0%) rotate(180deg);
    }
   
    80%{
        right: 5vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(0deg);
        opacity: 100%;
        
    }
    96%{
        right: 5vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(0deg);
        opacity: 0%;
        
    }
    100%{
        right: 5vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(0deg);
        opacity: 0%;
    }
}
@keyframes estrella {
    0%{
        right: 0vh;
        bottom: 0vh;
        opacity: 0%;
        transform: scale(0) translateY(0%) rotate(0deg);
    }
   
    16%{
        right: 0vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(180deg);
        opacity: 100%;
        
    }
    32%{
        right: 0vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(180deg);
        opacity: 0%;
        
    }
    38%{
        right: 0vh;
        bottom: 0vh;
        transform: scale(1) translateY(-200%) rotate(180deg);
        opacity: 0%;
    }
    64%{
        right: 20vh;
        bottom: 0vh;
        opacity: 0%;
        transform: scale(0) translateY(0%) rotate(0deg);
    }
   
    80%{
        right: 20vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(180deg);
        opacity: 100%;
        
    }
    96%{
        right: 20vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(180deg);
        opacity: 0%;
        
    }
    100%{
        right: 20vh;
        bottom: 0vh;
        transform: scale(1) translateY(-300%) rotate(180deg);
        opacity: 0%;
    }
}
@keyframes peinar {
    0%{
        background-image: url(img/cepillo2.png);
        transform: scale(1) rotate(10deg);
    }
    50%{
        background-image: url(img/cepillo2.png);
        transform: scale(1.1) rotate(-20deg);
    }
    100%{
        background-image: url(img/cepillo2.png);
        transform: scale(1) rotate(10deg);
    }
}
@keyframes mover {
    49.99%{
        transform: scaleX(1);
        
    }
    50%{
        transform: scaleX(-1);
        right: 80vw;
    }
    100%{
        
        transform: scaleX(-1);
        right: 10vw;
    }
}
@keyframes mover2 {
   
    50%{
   
        right: 80vw;
    }
    100%{
        
  
        right: 10vw;
    }
}
@keyframes giraropcion {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@keyframes opcion{
    0%{
        opacity: 0%;
        transform: scale(0);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}
@keyframes opcionmueve{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes click {
    0%{
        background-image: url(anim/quieto.png);
        transform: scaleY(1);
    }
    10%{
        background-image: url(anim/sorprendido.png);
    }
    50%{
        transform: scaleY(1.3);
    }
    100%{
        transform: scaleY(1);
    }
}
@keyframes caminar {
    0%{
        background-image: url(anim/caminar1.png);
    }
    50%{
        background-image: url(anim/caminar2.png);
    }
    100%{
        background-image: url(anim/caminar1.png);
    }
}
@keyframes acariciar{
    0%{
        transform: scaleY(1);
        background-image: url(anim/acariciar1.png);
    }
    50%{
        transform: scaleY(1.1);
        background-image: url(anim/acariciar2.png);
    }
    100%{
        transform: scaleY(1);
        background-image: url(anim/acariciar1.png);
    }
}
@keyframes cantar{
    0%{
        transform: scale(1) rotate(20deg);
        background-image: url(anim/cantar1.png);
    }
    50%{
        transform: scale(1.1) rotate(-20deg);
        background-image: url(anim/cantar2.png);
    }
    100%{
        transform: scale(1) rotate(20deg);
        background-image: url(anim/cantar1.png);
    }
}
@keyframes comer{
    0%{
        transform: scale(1) rotate(20deg);
        background-image: url(anim/comer1.png);
    }
    50%{
        transform: scale(1.1) rotate(-20deg);
        background-image: url(anim/comer2.png);
    }
    100%{
        transform: scale(1) rotate(20deg);
        background-image: url(anim/comer1.png);
    }
}
@keyframes logo {
    0%{
        transform: rotateZ(0deg);
    }

    50%{
        transform: rotateZ(5deg);
    }
    55%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@keyframes cambio {
    0%{
        border-radius: 100%;
        width: 0%;
        height: 0%;
    }

   
    100%{
        border-radius: 100%;
        width: 200vw;
        height: 200vw;
        left: -50%;
        top: -50%;
    }
}

@keyframes fondo {
    0%{
        background-position-x: 100%;
        background-position-y: 100%;
    }
    100%{
        background-position-x: 0%;
        background-position-y: 0%;
    }
}